<div class="router-container">

    <div class="personal-info">
      <section>
        <img class="personal-info-image" src="assets/images/profile.jpg" alt="Dawid Rdzanek"/>
        <h2 class="personal-info-header">MOJE DANE</h2>
        <div class="heading-line"></div>
        <div class="personal-info-content">
          <span>
            <strong>Imię i nazwisko:</strong>
            <br>
            Dawid Rdzanek
          </span>
          <span>
            <strong>Email:</strong>
            <br>
            dawid.rdzanek@gmail.com
          </span>
          <span>
            <strong>Wiek:</strong>
            <br>
            24
          </span>
          <span>
            <strong>Lokalizacja:</strong>
            <br>
            Poznań, Polska
          </span>
        </div>
      </section>
    </div>

    <div class="about-me">
      <section>
        <h2 class="about-me-title">Dawid Rdzanek</h2>
        <h3 class="about-me-subtitle">Web developer</h3>

        <h1 style="color: red">UWAGA! STRONA W BUDOWIE...</h1>
        Wzorowac sie na : <a href="https://martinbroder.com/" target="_blank">https://martinbroder.com/</a>


        <h2>Umiejętności</h2>

        <ul class="skills">
          <li>
            <a href="">
              <img src="assets/images/logos/css3.png">
            </a>
          </li>
          <li>
            <a href="">
              <img src="assets/images/logos/django.png">
            </a>
          </li>
          <li>
            <a href="">
              <img src="assets/images/logos/git.png">
            </a>
          </li>
          <li>
            <a href="">
              <img src="assets/images/logos/html5.png">
            </a>
          </li>
          <li>
            <a href="">
              <img src="assets/images/logos/ionic.png">
            </a>
          </li>
          <li>
            <a href="">
              <img src="assets/images/logos/node-js.png">
            </a>
          </li>
          <li>
            <a href="">
              <img src="assets/images/logos/python.png">
            </a>
          </li>
          <li>
            <a href="">
              <img src="assets/images/logos/ts.png">
            </a>
          </li>
        </ul>

        <!--<div id="languages">-->
          <!--<div class="skill-box">-->
            <!--<div style="font-weight: bold">Python</div>-->
            <!--<app-skill-bar [value]="75"></app-skill-bar>-->
          <!--</div>-->

          <!--<div class="skill-box">-->
            <!--<div style="font-weight: bold">TypeScript</div>-->
            <!--<app-skill-bar [value]="65"></app-skill-bar>-->
          <!--</div>-->

          <!--<div class="skill-box">-->
            <!--<div style="font-weight: bold">SQL</div>-->
            <!--<app-skill-bar [value]="50"></app-skill-bar>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div id="frameworks">-->
          <!--<div class="skill-box">-->
            <!--<div style="font-weight: bold">Django</div>-->
            <!--<app-skill-bar [value]="75"></app-skill-bar>-->
          <!--</div>-->

          <!--<div class="skill-box">-->
            <!--<div style="font-weight: bold">Angular</div>-->
            <!--<app-skill-bar [value]="65"></app-skill-bar>-->
          <!--</div>-->

          <!--<div class="skill-box">-->
            <!--<div style="font-weight: bold">Ionic</div>-->
            <!--<app-skill-bar [value]="50"></app-skill-bar>-->
          <!--</div>-->
        <!--</div>-->

      <h2>Doświadczenie</h2>

      <div class="experience-box">
        <div class="experience-title">
          <div class="experience-title-name">1CONNECT</div>
          <div class="experience-title-time">cze 2017 - obecnie</div>
        </div>
        <div class="experience-info">
          <ul>
            <li>Programista front-end/mobile</li>
            <li>Aplikacje internetowe w Angular 4</li>
            <li>Aplikacje mobilne w Ionic 3</li>
            <li>100% zdalnie</li>
          </ul>
        </div>
      </div>

      <div class="experience-box">
        <div class="experience-title">
          <div class="experience-title-name">Freelancer</div>
          <div class="experience-title-time">paź 2016 - obecnie</div>
        </div>
        <div class="experience-info">
          <ul>
              <li>Full stack developer</li>
              <li>Aplikacje internetowe w Django</li>
              <li>Wdrażanie na serwery produkcyjne</li>
          </ul>
        </div>
      </div>

      <div class="experience-box">
        <div class="experience-title">
          <div class="experience-title-name">Huevo</div>
          <div class="experience-title-time">maj 2015 - lip 2015</div>
        </div>
        <div class="experience-info">
          <ul>
            <li>PHP intern developer</li>
            <li>Aplikacje internetowe w Symfony</li>
            <li>Rozwój i utrzymanie aplikacji napisanych w PHP</li>
          </ul>
        </div>
      </div>


      </section>


    </div>

  <div class="social-wrapper-inside">
    <app-social></app-social>
  </div>
</div>
