:host {
  text-align: justify;
}

.personal-info {
  display: inline-block;
  width: 30%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

.about-me {
  display: inline-block;
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width:800px) {
  .personal-info {
    display: block;
    width: 100%;
    float: none;
  }

  .about-me {
    display: block;
    width: 100%;
  }
}

.personal-info-image {
  display: block;
  height: 132px;
  width: 132px;
  margin: 0 auto 10px;
  border-radius: 50%;
}

.personal-info-header {
  letter-spacing: 1.2px;
  color: #575757;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  margin: 0;
}

.heading-line {
  height: 2px;
  width: 76%;
  background-color: #575757;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  left: 12%;
}

.personal-info-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.personal-info-content span {
  margin: 5px 0 10px;
  text-transform: uppercase;
}

.about-me-title {
  font-size: 1.7rem;
  text-transform: uppercase;
  border-bottom: 2px #5d5d5d solid;
  display: inline-block;
  margin: 0 0 6px 0;
}

.about-me-subtitle {
  font-weight: 200;
  font-size: 1.1rem;
  margin: 0 auto;
  text-transform: uppercase;
}

.skill-box {
  width: 150px;
  margin-top: 10px;
}

.experience-box,
.education-box {
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 16px;
  float: left;
}

.experience-box > div {
  display: inline-block;
  box-sizing: border-box;
}

.experience-info,
.education-info {
  width: 65%;
  float: right;
}

.experience-info ul li {
  line-height: 1.5em;
  font-size: 1.1em;
  text-align: left;
}

.experience-info ul {
  padding-left: 20px;
  margin: 0;
}

.experience-title,
.education-time {
  width: 35%;
}

.experience-title-name {
  font-size: 1.3em;
  font-weight: 600;
}

.experience-title-time {
  font-style: italic;
  color: #888;
}

.education-time,
.education-info {
  display: inline-block;
  box-sizing: border-box;
}

.education-time time {
  font-style: italic;
  color: #888;
}

.education-info {
  line-height: 1.5em;
  font-size: 1.1em;
  text-align: left;
}

@media (max-width:800px) {
  .experience-info,
  .experience-title,
  .education-info,
  .education-time {
    display: block;
    width: 100%;
    float: none;
  }

  .experience-info {
    padding-top: 10px;
  }

  .experience-title-name,
  .experience-title-time,
  .education-time {
    text-align: center;
  }
}

.skills img {
  width: 64px;
}

.skills {
  list-style: none;
  overflow: hidden;
  padding: 0;
}

.skills li {
  float: left;
  padding: 0;
  margin: 0;
  width: 50%;
  text-align: center;
  border: 1px solid #ddd;
  border-right: none;
  border-bottom: none;
  box-sizing: border-box;
}

.skills li:nth-of-type(1),
.skills li:nth-of-type(2) {
  border-top: none;
}

.skills li:nth-of-type(2n+1) {
  border-left: none;
}

.skills li {
  width: 25%;
}

.skills li:nth-of-type(1),
.skills li:nth-of-type(2),
.skills li:nth-of-type(3),
.skills li:nth-of-type(4) {
  border-top: none;
}

.skills li:nth-of-type(2n+1) {
  border-left: 1px solid #ddd;
}

.skills li:nth-of-type(4n+1) {
  border-left: none;
}

.skills a {
  margin: 1rem;
  display: block;
}

.skills li {
  opacity: 0.5;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: opacity 0.6s linear;
}

.skills li:hover {
  opacity: 1;
  filter: grayscale(0);
}

.skill-bar {
  position: absolute;
  width: 50%;
  margin-left:50%;
  transform: translateX(-50%);
  bottom: 0;
  opacity: 0;
  transition: opacity 0.6s linear;
}

.skills a:hover + .skill-bar {
  opacity: 0.7;
}

.skill-wrapper {
  position: relative;
}

@media (max-width:800px) {
  .skills li {
    width: 50%;
  }

  .skills li:nth-of-type(2n) {
    border-left: 1px solid #ddd;
  }

  .skills li:nth-of-type(3),
  .skills li:nth-of-type(4) {
    border-top: 1px solid #ddd;
  }

  .skills li:nth-of-type(odd) {
    border-left: none;
  }

  .skill-bar {
    opacity: 0.7;
  }

  .skills li {
    opacity: 1;
    filter: grayscale(0);
  }
}

.cv-info {
  width: 100%;
  text-align: right;
  font-size: 0.8em;
  color: #929292;
  font-style: italic;
}

