<div class="router-container">

    <div class="personal-info">
      <section>
        <img class="personal-info-image" src="assets/images/profile.jpg" alt="Dawid Rdzanek"/>
        <h2 class="personal-info-header">MOJE DANE</h2>
        <div class="heading-line"></div>
        <div class="personal-info-content">
          <span>
            <strong>Imię i nazwisko:</strong>
            <br>
            Dawid Rdzanek
          </span>
          <span>
            <strong>Email:</strong>
            <br>
            dawid.rdzanek@gmail.com
          </span>
          <span>
            <strong>Wiek:</strong>
            <br>
            23
          </span>
          <span>
            <strong>Lokalizacja:</strong>
            <br>
            Poznań, Polska
          </span>
        </div>
      </section>
    </div>

    <div class="about-me">
      <section>
        <h2 class="about-me-title">Dawid Rdzanek</h2>
        <h3 class="about-me-subtitle">Web developer</h3>

        <h1 style="color: red">UWAGA! STRONA W BUDOWIE...</h1>

        <div id="languages">
          <div class="skill-box">
            <div style="font-weight: bold">Python</div>
            <app-skill-bar [value]="75"></app-skill-bar>
          </div>

          <div class="skill-box">
            <div style="font-weight: bold">TypeScript</div>
            <app-skill-bar [value]="65"></app-skill-bar>
          </div>

          <div class="skill-box">
            <div style="font-weight: bold">SQL</div>
            <app-skill-bar [value]="50"></app-skill-bar>
          </div>
        </div>
        <div id="frameworks">
          <div class="skill-box">
            <div style="font-weight: bold">Django</div>
            <app-skill-bar [value]="75"></app-skill-bar>
          </div>

          <div class="skill-box">
            <div style="font-weight: bold">Angular</div>
            <app-skill-bar [value]="65"></app-skill-bar>
          </div>

          <div class="skill-box">
            <div style="font-weight: bold">Ionic</div>
            <app-skill-bar [value]="50"></app-skill-bar>
          </div>
        </div>



      </section>
    </div>

  <div class="social-wrapper-inside">
    <app-social></app-social>
  </div>
</div>
