<div class="router-container">

    <div class="personal-info">
      <section>
        <img class="personal-info-image" src="assets/images/profile.jpg" alt="Dawid Rdzanek"/>
        <h2 class="personal-info-header">MOJE DANE</h2>
        <div class="heading-line"></div>
        <div class="personal-info-content">
          <span>
            <strong>Imię i nazwisko:</strong>
            <br>
            Dawid Rdzanek
          </span>
          <span>
            <strong>Email:</strong>
            <br>
            dawid.rdzanek@gmail.com
          </span>
          <span>
            <strong>Wiek:</strong>
            <br>
            23
          </span>
          <span>
            <strong>Lokalizacja:</strong>
            <br>
            Poznań, Polska
          </span>
        </div>
      </section>
    </div>

    <div class="about-me">
      <section>
        <h2 class="about-me-title">Dawid Rdzanek</h2>
        <h3 class="about-me-subtitle">Web developer</h3>

        <h1 style="color: red">UWAGA! STRONA W BUDOWIE...</h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod ex consequat consectetur ultricies. Vivamus porttitor, ex sollicitudin elementum sollicitudin, arcu velit cursus ante, a ultricies velit dui et neque. Phasellus sit amet hendrerit quam. Donec aliquet quam sed neque rutrum, non egestas orci convallis. Curabitur nisi justo, ultrices nec lacus a, faucibus iaculis risus. Duis eu diam eu tortor placerat commodo at sit amet lorem. Sed id nisl vel orci rutrum imperdiet. Quisque vulputate mattis turpis, vitae placerat nulla euismod et. Proin sit amet lobortis tellus, ut euismod odio. Phasellus at tortor nec nunc dignissim sollicitudin a non massa.
        </p>
        <p>
          Praesent dui augue, convallis a elementum sit amet, dapibus non sem. Aenean volutpat elit at nunc dictum dignissim. Pellentesque lacinia, sem a consectetur placerat, diam sapien varius justo, id laoreet turpis mi nec ante. Aliquam id quam nec urna mattis hendrerit ac at justo. Mauris porttitor venenatis orci, vitae imperdiet ipsum vulputate ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent et elementum sem. Aliquam erat volutpat.
        </p>
        <div style="width: 120px;">
          <app-skill-bar [value]="30"></app-skill-bar>
        </div>

      </section>
    </div>

  <div class="social-wrapper-inside">
    <app-social></app-social>
  </div>
</div>
