<div class="router-container">

  <div class="project">
    <div class="title">dawidr.pl</div>
    <a href="https://github.com/Akus93/my-site" target="_blank" rel="noopener">
      <img src="assets/images/github-icon.png" alt="github" />
    </a>
    <div class="description">
      Moja strona wizytowa, własnie ta na której właśnie się znajdujesz :) Służy głównie do prezentowania informacji o
      mojej osobie oraz obsługi mikro-bloga.
      Angular po stronie front-endu hostowany na firebase, back-end w django[rest] + MySQL na pythonanywhere.com.
    </div>
    <div class="tech">
      <img src="assets/images/logos/django.png" alt="django">
      <img src="assets/images/logos/angular.png" alt="angular">
      <img src="assets/images/logos/mysql.png" alt="mysql">
    </div>
  </div>

  <div class="project">
    <div class="title">Koreline</div>
    <a href="https://github.com/Akus93/koreline-client" target="_blank" rel="noopener">
      <img src="assets/images/github-icon.png" alt="github" />
    </a>
    <a href="https://github.com/Akus93/koreline-api" target="_blank" rel="noopener">
      <img src="assets/images/github-icon.png" alt="github"/>
    </a>
    <a href="https://github.com/Akus93/koreline-webrtc" target="_blank" rel="noopener">
      <img src="assets/images/github-icon.png" alt="github" />
    </a>
    <div class="description">
      Aplikacja internetowa wspomagająca korepetycje online. Posiada system ogłoszeń z korepetycjami, panel użytkownika,
      panel nauczyciela, system płatności (symulowany),
      system wiadomości i powiadomień oraz system prowadzenia konwersacji audiowizualnej w czasie rzeczywistym.
      Aplikacja składa się z trzech części:
      aplikacja po stronie klienta zaimplementowana w Angularze 2 i Angular Material 2, restowe API w django[rest] +
      postgresql, serwer sygnalizujący WebRTC w nodejs przy użycie EasyRTC.
    </div>
    <div class="tech">
      <img src="assets/images/logos/django.png" alt="django">
      <img src="assets/images/logos/psql.png" alt="postgresql">
    </div>
  </div>

  <div class="project">
    <div class="title">RPM-Solver</div>
    <a href="https://github.com/Akus93/rpm-solver" target="_blank" rel="noopener">
      <img src="assets/images/github-icon.png" alt="github" />
    </a>
    <div class="description">
      Program w Pythonie + numpy służący rozwiązywaniu test matryc ravena. Większość obliczeń wykonywane współbieżnie.
    </div>
    <div class="tech">
      <img src="assets/images/logos/python.png" alt="python">
      <img src="assets/images/logos/numpy.png" alt="numpy">
    </div>
  </div>

  <div class="project">
    <div class="title">MusicStore</div>
    <a href="https://github.com/Akus93/music-store" target="_blank" rel="noopener">
      <img src="assets/images/github-icon.png" alt="github" />
    </a>
    <div class="description">
      Restowe API do obsługi sklepu internetowego z płytami muzycznymi napisane przy użyciu django[rest], baza danych
      PostgreSQL.
    </div>
    <div class="tech">
      <img src="assets/images/logos/django.png" alt="django">
      <img src="assets/images/logos/psql.png" alt="postgresql">
    </div>
  </div>

  <div class="project">
    <div class="title">Postman tour</div>
    <a href="https://github.com/Akus93/postman-tour-mpi" target="_blank" rel="noopener">
      <img src="assets/images/github-icon.png" alt="github" />
    </a>
    <div class="description">
      Program rozwiązujący problem chińskiego listonosza w sposób rozproszony przy użyciu bibilioteki OpenMPI.
    </div>
    <div class="tech">
      <img src="assets/images/logos/cpp.png" alt="cpp">
      <img src="assets/images/logos/mpi.png" alt="mpi">
    </div>
  </div>

  <div class="project">
    <div class="title">Webscraper zakładów bukmacherskich</div>
    <a href="https://github.com/akus5/Webscraper" target="_blank" rel="noopener">
      <img src="assets/images/github-icon.png" alt="github" />
    </a>
    <div class="description">
      Webscraper zbierający dane o zakładach bukmacherskich do bazy danych MongoDB. Program wieloprocesowy, w programie
      uruchominych jest 5 równolegle działających workerów które zbierają dane o meczach dla różnych przedziałów
      czasowych do zakończenia meczu (im bliżej wyniku tym częściej dane są zbierane).
      Do renderowania javascryptu na scrapowanych stronach wykorzystany został selenium webdriver.
    </div>
    <div class="tech">
      <img src="assets/images/logos/python.png" alt="python">
      <img src="assets/images/logos/mongodb.png" alt="mongodb">
      <img src="assets/images/logos/selenium.png" alt="selenium">
    </div>
  </div>

  <div class="project">
    <div class="title">niskiwklad.pl</div>
    <a href="https://www.niskiwklad.pl" target="_blank" rel="noopener">
      <img src="assets/images/link-icon.png" alt="github" />
    </a>
    <div class="description">
      Strona firmy prawniczej. Moim zadaniem była implementacja back-endu oraz wdrożenie na serwer produkcyjny.
      Aplikacja umożliwia edycje całej zawartości z poziomu panelu administratora oraz dodawanie aktualności.
    </div>
    <div class="tech">
      <img src="assets/images/logos/django.png" alt="django">
    </div>
  </div>

  <div class="project">
    <div class="title">OTK</div>
    <a href="https://github.com/Akus93/otk" target="_blank" rel="noopener">
      <img src="assets/images/github-icon.png" alt="github"/>
    </a>
    <div class="description">
      Projekt wyszukiwarki telefonów komórkowych opartej na Semantic Web. Generowanie ontologii dla telefonów
      komórkowych w języku OWL przy użyciu biblioteki owlready. Dane pobierane z mgsm.pl za pomocą webscrapera.
      Przetwarzanie danych za pomocą języka SPARQL.
      Do obsługi wyszukiwarki aplikacja serwerowa we Flasku, po stronie klienta aplikacja w Angularze 2.
    </div>
    <div class="tech">
      <img src="assets/images/logos/python.png" alt="python">
      <img src="assets/images/logos/flask.png" alt="flask">
      <img src="assets/images/logos/semantic.png" alt="semantic web">
      <img src="assets/images/logos/angular.png" alt="angular">
    </div>
  </div>

  <div class="project">
    <div class="title">Rzemieślnicy</div>
    <a href="https://github.com/Akus93/rzemieslnicy" target="_blank" rel="noopener">
      <img src="assets/images/github-icon.png" alt="github" />
    </a>
    <div class="description">
      Aplikacja internetowa umożliwiająca wyszukiwanie lokalnych firm oferujących usługi (np. fryzjer, mechanik
      samochodowy). Integracja z OpenStreetMaps. Całość w Django + PostgreSQL i Materialize.
    </div>
    <div class="tech">
      <img src="assets/images/logos/django.png" alt="django">
      <img src="assets/images/logos/materialize.png" alt="materialize">
      <img src="assets/images/logos/psql.png" alt="postgresql">
    </div>
  </div>

  <div class="project">
    <div class="title">Resume problem</div>
    <a href="https://github.com/Akus93/resume-problem" target="_blank" rel="noopener">
      <img src="assets/images/github-icon.png" alt="github"/>
    </a>
    <div class="description">
      Program w Pythonie + gensim[word2vec] służący klasyfikacji danych zawartych w CV. Wykorzystanie wytrenowanego
      modelu od googla. Wejście: plik txt z CV; wyjście: xml ze sklasyfikowanymi danymi.
    </div>
    <div class="tech">
      <img src="assets/images/logos/python.png" alt="python">
      <img src="assets/images/logos/gensim.png" alt="gensim">
    </div>
  </div>

  <div class="project">
    <div class="title">Dorabiaj</div>
    <a href="https://github.com/Akus93/dorabiaj" target="_blank" rel="noopener">
      <img src="assets/images/github-icon.png" alt="github" />
    </a>
    <div class="description">
      Aplikacja internetowa obsługująca ogłoszenia zlecenia drobnych prac (np. skoszenie trawnika, pomalowanie płotu).
      Klient w Angularze 2, back-end we Flasku + MongoDB.
    </div>
    <div class="tech">
      <img src="assets/images/logos/angular.png" alt="angular">
      <img src="assets/images/logos/flask.png" alt="flask">
      <img src="assets/images/logos/mongodb.png" alt="mongodb">
    </div>
  </div>

  <div class="project">
    <div class="title">Trenuj to</div>
    <a href="https://github.com/Akus93/rzemieslnicy" target="_blank" rel="noopener">
      <img src="assets/images/github-icon.png" alt="github" />
    </a>
    <div class="description">
      Aplikacja internetowa podobna do pinterest umożliwiająca udostępnianie tekstów, filmików, zdjęc oraz samemu
      napisanych artykułów dotyczących diety, sportu, zdrowego trybu życia itp. oraz obserwowanie aktywności innych
      obserwowanych użytkowników.
    </div>
    <div class="tech">
      <img src="assets/images/logos/django.png" alt="django">
      <img src="assets/images/logos/materialize.png" alt="materialize">
      <img src="assets/images/logos/psql.png" alt="postgresql">
    </div>
  </div>

  <div class="social-wrapper-inside">
    <app-social></app-social>
  </div>
</div>
