.social-container {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.social-link img {
  width: 25px;
  height: 25px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid #999;
  margin: 2px;
  cursor: pointer;
  filter: grayscale(0);
  opacity: 0.6;
  transition: opacity 0.5s linear;
}

.social-link img:hover {
  /*border-color: #666;*/
  opacity: 1;
}

@media screen and (max-width: 1164px) {
  .social-container {
    position: relative;
    float: right;
  }
}
