.bar {
  position: relative;
  width: 100%;
  height: 5px;
  cursor: default;

  &__outer {
    width: 100%;
    height: 100%;
    background-color: #a6a6a6;
    text-align: center;
  }

  &__inner {
    overflow: hidden;
    height: 100%;
    background-color: #575757;
    white-space: nowrap;
  }
}
