:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
}

main {
  width: 100%;
  max-width: 960px;
}

app-social {
  position: fixed;
  right: 30px;
  bottom: 20px;
}

@media (max-width: calc(960px + (126px + 30px + 6px) * 2)) {
  app-social {
    display: none;
  }
}
