#wrapper {
  min-height: calc(100vh - 40px);
}

.logo {
  position: relative;
  display: block;
  left: 50%;
  width: 160px;
  height: 160px;
  margin-left: -80px;
}

.containter {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.social-container {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.social-link img {
  width: 25px;
  height: 25px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid #999;
  margin: 2px;
  cursor: pointer;
}

.social-link img:hover {
  border-color: #666;
}
