<div class="router-container">

  <section class="timeline">
    <ul>
      <li>
        <div>
          <time>1993</time>
          Urodziłem się!
        </div>
      </li>
      <li>
        <div>
          <time>2009</time>
          Początki programowania.
        </div>
      </li>
      <li>
        <div>
          <time>2013</time>
          Ukończyłem technikum informatyczne z tytułem technika informatyki.
        </div>
      </li>
      <li>
        <div>
          <time>05.2015 - 08.2015</time>
          Staż jako programista PHP w Huevo.
        </div>
      </li>
      <li>
        <div>
          <time>10.2016</time>
          Rozpoczęcie pracy jako freelancer. Tworzenie aplikacji internetowych w Django.
        </div>
      </li>
      <li>
        <div>
          <time>02.2017</time>
          Uzyskanie tytułu inżyniera z informatyki na Politechnice Poznańskiej.
        </div>
      </li>
      <li>
        <div>
          <time>06.2017</time>
          Rozpoczęcie pracy jako web/mobile developer w 1CONNECT.
        </div>
      </li>
      <li>
        <div>
          <time>04.2018</time>
          Otworzenie własnej działalności gospodarczej.
        </div>
      </li>
      <li>
        <div>
          <time>04.2018</time>
          Rozpoczęcie współpracy z Merixstudio.
        </div>
      </li>
    </ul>
  </section>

  <div class="social-wrapper-inside">
    <app-social></app-social>
  </div>
</div>
