.timeline {
  color: #ffffff;
  font-weight: 600;

  ul {
    li {
      list-style-type: none;
      position: relative;
      width: 2px;
      margin: 0 auto;
      padding-top: 30px;
      background: #6f6f6f;

      div {
        position: relative;
        bottom: 0;
        width: 250px;
        padding: 12px 18px;
        color: #6f6f6f;
        border-bottom: 2px solid #6f6f6f;
      }
    }
  }
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 12px 16px 12px 0;
  border-color: transparent #0094FF transparent transparent;
  top: 50%;
  transform: translateY(-25%);
}

.timeline ul li:nth-child(even) div {
  left: -285px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 12px 0 12px 16px;
  border-color: transparent transparent transparent #0094FF;
  top: 50%;
  transform: translateY(-25%);
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}

.timeline ul li::after {
  transition: background .5s ease-in-out;
  background: #0094FF;
  top: 50%;
}

@media screen and (max-width: 700px) {
  .timeline ul li {
    margin: 0;
  }

  .timeline ul li:nth-child(even) div {
    left: auto;
  }
}
