@font-face {
  font-family: "PaneuropaNeue";
  src: url("./assets/fonts/PaneuropaNeueRegular.otf");
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
  outline: none !important;
  font-family: "PaneuropaNeue", "HelveticaNeue", Arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 17px;
}

body {
  background-color: #f5f3e6;
  color: #4b4e53;
}

header,
footer {
  padding: 0 12px;
}

a {
  text-decoration: none;
}

button::-moz-focus-inner {
  border: 0;
}

.router-container {
  padding: 10px 12px;
}

.ql-container {
  min-height: 300px;
}

.social-wrapper-inside {
  display: none;
}

@media screen and (max-width: 1199px) {
  .social-wrapper-inside {
    position: relative;
    float: right;
    display: block;
    margin-top: 20px;
  }
}
