<div class="router-container">
  <form novalidate class="contact-form" (ngSubmit)="send()" [formGroup]="contactForm">
    <div class="contact-form-row">
      <input formControlName="name" name="name" placeholder="Imię i nazwisko">
      <input formControlName="email" name="email" placeholder="Adres email">
    </div>
    <div class="contact-form-row">
      <textarea class="form__content" formControlName="content" name="content" placeholder="Treść wiadomości"></textarea>
    </div>
    <div class="contact-form-row">
      <button type="submit" class="contact-form-submit" [disabled]="!contactForm.valid">Wyślij</button>
    </div>
  </form>
</div>
