.contact-form {
  margin-top: 50px;
}

.contact-form-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 10px;
  vertical-align: middle;
  justify-content: space-between;
}

.contact-form textarea, input {
  width: 100%;
  background-color: transparent;
  padding: 10px;
  font-weight: 600;
  border: 0;
  border-bottom: 1px solid currentcolor;
  box-sizing: border-box;
}

.contact-form textarea:focus, input:focus {
  box-shadow: 0 1px 0 0 rgba(93, 93, 93, 0.5);
}

.contact-form textarea {
  height: 38px;
  margin-top: 10px;
  font-size: 1rem;
  overflow: hidden;
}

.contact-form input {
  width: 49%;
}

.contact-form-submit {
  margin-left: auto;
  margin-top: 16px;
  height: 40px;
  width: 100px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid currentcolor;
  background-color: transparent;
}

.contact-form-submit:hover {
  outline: rgba(150, 150, 150, 0.5) solid 1px;
}

.contact-form-submit:disabled:hover {
  outline: 0;
}

